
.idea/.idea.SemanticKernelTest/.idea/vcs.xml
.idea/.idea.SemanticKernelTest/.idea/.name
/.idea
/.idea/.idea.SemanticKernelTest/.idea
/.idea/.idea.SemanticKernelTest
.idea/.idea.SemanticKernelTest/.idea/vcs.xml
SemanticKernelTest.sln.DotSettings.user
